<% var ngayHienTai = new Date() %>
<% var nam = ngayHienTai.getFullYear() %>
<% var thang = ('0' + (ngayHienTai.getMonth() + 1)).slice(-2) %>
<% var ngay = ('0' + ngayHienTai.getDate()).slice(-2) %>
<% var ngayHienTaiFormatted = nam + '-' + thang + '-' + ngay %>

<div style="margin-bottom:20px; color: rgb(6, 183, 236); position: relative; bottom: auto;">
  <h3>FORM SỬA CÔNG VIỆC ĐỊNH KỲ</h3>
</div>
<form action="/house/suacongviecdinhky" method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>ID</label>
      <input type="text" class="form-control" id="txtid" name="iddinhky" value="<%= data[0]._id %>" readonly>
    </div>
    <div class="form-group col-md-6">
      <label>Ngày hiện tại</label>
      <input type="date" class="form-control" id="txtngayhientai" name="ngayhientai" readonly value="<%= ngayHienTaiFormatted %>">
    </div>
    
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Tên Công Việc</label>
      <input type="text" class="form-control" id="txttencv" placeholder="Tên Công Việc" name="tencv" value="<%= data[0].tencv %>">
    </div>
    <div class="form-group col-md-6">
      <label>Vị Trí/Ngày thực hiện</label>
      <input type="text" class="form-control" id="txtvitricv" placeholder="Vị trí" name="vitricv" value="<%= data[0].vitricv %>">
      <!-- <select class="form-control" id="txtvitri" name="vitri">
            <option value="" selected disabled hidden>Choose here ...</option>
            <option value="ruby1">Ruby1</option>
            <option value="ruby2">Ruby2</option>
            <option value="diamond1">Diamond1</option>
            <option value="diamond2">Diamond2</option>
            <option value="saphia">Shapia</option>
          </select> -->
    </div>
    <!-- <div class="form-group col-md-6">
      <label>Đơn vị tính</label>
      <input type="text" class="form-control" id="txtdvt" placeholder="Đơn vị tính" name="dvt">
    </div> -->
    <!-- <div class="form-group col-md-6">
      <label>Số Lượng</label>
      <input type="number" class="form-control" id="txtsl" placeholder="Số Lượng" name="soluong">
    </div> -->
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Ngày bắt đầu</label>
      <input type="date" class="form-control" id="txtngaybatdau" placeholder="Ngày bắt đầu" name="ngaybatdau" onchange="fn_ngayconlai()" value="<%= data[0].ngaybatdau %>">
    </div>
    <div class="form-group col-md-6">
      <label>step begin-end - số ngày</label>
      <input type="number" class="form-control" id="txttimehethan" placeholder="Time hết hạn - số ngày" name="timehethan"  value="<%= data[0].timehethan %>" readonly>
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Ngày kết thúc</label>
      <input type="date" class="form-control" id="txtngaykethuc" placeholder="Ngày kết thúc" name="ngayketthuc" value="<%= data[0].ngayketthuc %>" onchange="fn_ngayconlai()">
    </div>
    <div class="form-group col-md-6">
      <label>Số ngày gửi mail</label>
      <input type="number" class="form-control" id="txtngayguimail" placeholder="Số ngày gửi mail" name="ngayguimail" value="<%= data[0].ngayguimail %>">
    </div>
  </div>
  <!-- <div class="form-row">
    <div class="form-group col-md-6">
      <label>Tên NCC</label>
      <input type="test" class="form-control" id="txttenncc" placeholder="Tên NCC" name="tenncc">
    </div>
    <div class="form-group col-md-6">
      <label>SĐT NCC</label>
      <input type="test" class="form-control" id="txtsdtncc" placeholder="Số ĐT NCC" name="sdtncc">
    </div>
  </div> -->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Số ngày còn lại-(tính từ ngày hiện tại)</label>
      <input type="number" class="form-control" id="txtsongayconlaitxt" name="ngayconlai" readonly>
    </div>
    <div class="form-group col-md-6">
      <label>Lặp lại theo step begin-end</label>
      <% if(data[0].laplai == 'yes') { %>
      <div class="customdiv">
        <input class="form-check-input" type="checkbox" id="idcheckbox" name="name_checkbox" value="yes" checked>
      </div>
      <% } else { %>
        <div class="customdiv">
          <input class="form-check-input" type="checkbox" id="idcheckbox" name="name_checkbox" value="yes">
        </div>
      <% } %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Trạng Thái Hoàn Thành</label>
      <select class="custom-select custom-select-lg mb-3" name="hoanthanh">
        <option value='<%= data[0].hoanthanh %>' selected disabled hidden><%= data[0].hoanthanh %></option>
        <option value="yes">yes</option>
        <option value="no">no</option>
      </select>
      
    </div>
  </div>
  <div class="form-row">
    <!-- <div class="form-group col-md-6">
          <label>Tình trạng</label>
          <select class="form-control" id="txttinhtrang" name="tinhtrang">
            <option value="" selected disabled hidden>Choose here ...</option>
            <option value="bt">Bình Thường</option>
            <option value="hu">Hư hỏng</option>
            <option value="tl">Thanh Lý</option>
            
          </select>
        </div> -->

    <div class="form-group col-md-12">
      <label>Ghi chú</label>
      <textarea class="form-control" id="txtghichu" placeholder="Ghi chú / Vị trí" name="ghichu" rows="5"> <%= data[0].ghichu %> </textarea>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary float-left">CẬP NHẬT CÔNG VIỆC</button>
    <button type="button" class="btn btn-info float-right" id="btnxemcv" onclick="ClickXem()">XEM CÔNG VIỆC</button>
  </div>


</form>
 <script src="/vendor/jquery/jquery.min.js"></script>
<script>
  function ClickXem() {
    window.location.href = '/house/xemcongviecdinhky'
  }

  function tinhNgayKetThuc(ngayBatDau, soNgayBuoc) {
    var ngay = new Date(ngayBatDau);
    //console.log(ngay)
    ngay.setDate(ngay.getDate() + soNgayBuoc);
    // var ngayKetThuc = ('0' + ngay.getDate()).slice(-2) + '-' + ('0' + (ngay.getMonth() + 1)).slice(-2) + '-' + ngay.getFullYear();
    var ngayKetThuc = ngay.getFullYear() + '-' + ('0' + (ngay.getMonth() + 1)).slice(-2) + '-' + ('0' + ngay.getDate()).slice(-2);

    return ngayKetThuc;
  }

  function TinhNgayKetThuc() {
    var ngayBatDau = $('#txtngaybatdau').val() // Thay đổi ngày bắt đầu tại đây
    var soNgayBuoc = $('#txttimehethan').val() * 1 // Thay đổi số ngày bước tại đây
    //console.log(soNgayBuoc)
    var ngayKetThuc = tinhNgayKetThuc(ngayBatDau, soNgayBuoc);
    //console.log(ngayKetThuc)
    $('#txtngaykethuc').val(ngayKetThuc)
    fn_ngayconlai()
  }

  function fn_ngayconlai() {
    var ngay1 = $('#txtngaykethuc').val(); // Định dạng: yyyy-mm-dd
    var ngay2 = $('#txtngayhientai').val(); // Định dạng: yyyy-mm-dd
    var soNgay = tinhSoNgay(ngay1, ngay2);
    //console.log(soNgay)
    $('#txtsongayconlaitxt').val(soNgay)
    fn_tinhbuoctimehethan()
  }
  function tinhSoNgay(ngay1, ngay2) {
    // Chuyển hai ngày vào đối tượng Date
    var date1 = new Date(ngay1);
    var date2 = new Date(ngay2);

    // Tính số miligiây giữa hai ngày và chuyển thành số ngày
    var soMiligiay = date1 - date2;
    var soNgay1 = Math.floor(soMiligiay / (1000 * 60 * 60 * 24));
    //console.log('>>>somiligiay', soMiligiay)
    return soNgay1;
  }
  function fn_tinhbuoctimehethan() {
    var ngay1 = $('#txtngaykethuc').val(); // Định dạng: yyyy-mm-dd
    var ngay2 = $('#txtngaybatdau').val(); // Định dạng: yyyy-mm-dd
    var soNgay = tinhSoNgay(ngay1, ngay2);
    // console.log(soNgay)
    
    $('#txttimehethan').val(soNgay)
  }
  $('document').ready(()=>{
    fn_ngayconlai()
  })
</script>

<style>
  .form-check-input{

    height: 1.5rem;
    width: 1.5rem;
  }
  .customdiv{
    margin-left: 1.5rem;
    margin-bottom: 2rem;
  }
</style>