<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Information</title>
</head>
<body>
    <h1>Client Information</h1>
    <p>IP Address: <%= ip %></p>
    <p>User Agent: <%= userAgent %></p>
    <p>Is Mobile: <%= isMobile %></p>
    <p>Is Desktop: <%= isDesktop %></p>
    <p>Browser: <%= browser %></p>
    <p>Platform: <%= platform %></p>
    <p>Version: <%= version %></p>
    <p>OS: <%= os %></p>
</body>
</html>
