
<% var mayeucau = data[0].mayeucau || '' %>
<% var nguoiyeucau = data[0].nguoiyeucau || '' %>
<% var ngayyc = data[0].ngayyeucau || '' %>
<% var bophan = data[0].bophan || '' %>
<% var khancap = data[0].khancap || '' %>
<% var dt = data[0].dienthoai || '' %>
<% var vitri = data[0].vitri || '' %>
<% var mota = data[0].mota || '' %>
<% var duyet = "%------ đã duyệt -----%" %>
<% var motakythuat = data[0].motakythuat || '' %>


<html>

<head>
  <meta http-equiv=Content-Type content="text/html; charset=utf-8">
  <meta name=Generator content="Microsoft Word 15 (filtered)">
  <style>
    .headerlogo {
      width: 60px;
      height: 60px
    }

    .headerlogochu {
      height: 30px;
    }

    .fleft {
      float: right;
      margin-top: 30px;
    }
    
  </style>

</head>

<body lang=EN-US style='word-wrap:break-word'>
  <div>
    <img class="headerlogo" src="/img/logodp.png">
    <img class="headerlogochu" src="/img/logochudp.png">
    <span class="fleft">BM01/QT – EN – 01</span>
  </div>
<div class=WordSection1>

<p class=MsoNormal align=center style='margin-top:0in;margin-right:79.25pt;
margin-bottom:0in;margin-left:73.05pt;margin-bottom:.0001pt;text-align:center'><span
style='font-size:22.0pt'>&nbsp;</span></p>

<p class=MsoNormal align=center style='margin-right:2.0pt;text-align:center'><span
style='font-size:22.0pt'>PHIẾU<span style='letter-spacing:-.55pt'> </span>YÊU<span
style='letter-spacing:-.35pt'> </span>CẦU<span style='letter-spacing:-.45pt'> </span><span
style='letter-spacing:.05pt'>H</span>Ỗ<span style='letter-spacing:-.3pt'> </span>T<span
style='letter-spacing:.15pt'>R</span>Ợ<span style='letter-spacing:-.45pt'> </span>KỸ<span
style='letter-spacing:-.3pt'> </span>T<span style='letter-spacing:.1pt'>H</span>U<span
style='letter-spacing:.05pt'>Ậ</span>T</span></p>

<p class=MsoNormal style='margin-right:13.6pt;text-align:justify;line-height:
24.0pt'><span style='font-size:14.0pt;letter-spacing:-.05pt'>&nbsp;</span></p>

<table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 width=752
 style='margin-left:5.0pt;border-collapse:collapse;border:none'>
 <tr>
  <td width=419 valign=top style='width:314.5pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-right:13.6pt;text-align:justify;line-height:
  24.0pt'><b><span style='font-size:14.0pt;letter-spacing:-.05pt'>Mã yêu cầu:</span></b><span
  style='font-size:14.0pt;letter-spacing:-.05pt'> <%= mayeucau %></span></p>
  </td>
  <td width=333 valign=top style='width:249.75pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-right:13.6pt;text-align:justify;line-height:
  24.0pt'><span style='font-size:14.0pt;letter-spacing:-.05pt'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=419 valign=top style='width:314.5pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-right:13.6pt;text-align:justify;line-height:
  24.0pt'><b><span style='font-size:14.0pt;letter-spacing:-.05pt'>N</span></b><b><span
  style='font-size:14.0pt;letter-spacing:.05pt'>g</span></b><b><span
  style='font-size:14.0pt;letter-spacing:-.05pt'>ư</span></b><b><span
  style='font-size:14.0pt'>ời<span style='letter-spacing:.05pt'> </span><span
  style='letter-spacing:-.2pt'>y</span>êu<span style='letter-spacing:.05pt'> </span>cầu:</span></b><span
  style='font-size:14.0pt'> <%= nguoiyeucau %> </span></p>
  </td>
  <td width=333 valign=top style='width:249.75pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-right:.75pt;text-align:justify;line-height:
  24.0pt'><b><span style='font-size:14.0pt;letter-spacing:-.05pt'>N</span></b><b><span
  style='font-size:14.0pt;letter-spacing:.05pt'>g</span></b><b><span
  style='font-size:14.0pt'>ày</span></b><b><span style='font-size:14.0pt'>:</span></b><span
  style='font-size:14.0pt'> <%= ngayyc %></span></p>
  </td>
 </tr>
 <tr>
  <td width=419 valign=top style='width:314.5pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-right:13.6pt;text-align:justify;line-height:
  24.0pt'><b><span style='font-size:14.0pt'>Bộ <span style='letter-spacing:
  -.05pt'>p</span><span style='letter-spacing:.05pt'>h</span><span
  style='letter-spacing:-.1pt'>ậ</span>n:</span></b><span style='font-size:
  14.0pt'> <%= bophan %></span></p>
  </td>
  <td width=333 valign=top style='width:249.75pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-right:.75pt;text-align:justify;line-height:
  24.0pt'><b><span style='font-size:14.0pt;letter-spacing:-.05pt'>Đ</span></b><b><span
  style='font-size:14.0pt;letter-spacing:.05pt'>i</span></b><b><span
  style='font-size:14.0pt'>ện<span style='letter-spacing:-.1pt'> </span><span
  style='letter-spacing:.05pt'>t</span><span style='letter-spacing:-.05pt'>h</span><span
  style='letter-spacing:.1pt'>o</span><span style='letter-spacing:-.1pt'>ạ</span>i:</span></b><span
  style='font-size:14.0pt;letter-spacing:.3pt'> <%= dt %></span></p>
  </td>
 </tr>
 <tr>
  <td width=419 valign=top style='width:314.5pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-right:13.6pt;text-align:justify;line-height:
  24.0pt'><b><span style='font-size:14.0pt;letter-spacing:-.05pt'>V</span></b><b><span
  style='font-size:14.0pt'>ị<span style='letter-spacing:.05pt'> t</span>rí:</span></b><span
  style='font-size:14.0pt'> <%= vitri %></span></p>
  </td>
  <td width=333 valign=top style='width:249.75pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-right:13.6pt;text-align:justify;line-height:
  24.0pt'><b><span style='font-size:14.0pt;letter-spacing:-.05pt'>Khẩn cấp:</span></b><span
  style='font-size:14.0pt;letter-spacing:-.05pt'> </span><span
  style='font-size:14.0pt'><%= khancap %></span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='margin-top:0in;margin-right:13.6pt;margin-bottom:
0in;margin-left:13.5pt;margin-bottom:.0001pt;text-align:justify;line-height:
24.0pt'><i><span style='font-size:14.0pt;color:white;letter-spacing:-.05pt'>Mô
tả</span></i><i><span style='font-size:14.0pt;letter-spacing:-.05pt'>: </span></i></p>

<p class=MsoNormal style='margin-top:0in;margin-right:9.7pt;margin-bottom:0in;
margin-left:4.5pt;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>*** <%= mota %></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:9.7pt;margin-bottom:0in;
margin-left:4.5pt;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>******</span></p>

<p class=MsoNormal style='margin-right:9.7pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>&nbsp;</span></p>

<table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
 style='margin-left:4.5pt;border-collapse:collapse;border:none'>
 <tr style='height:45.35pt'>
  <td width=352 valign=top style='width:264.25pt;padding:0in 5.4pt 0in 5.4pt;
  height:45.35pt'>
  <p class=MsoNormal style='margin-left:53.0pt'><b><i><span style='font-size:
  14.0pt;letter-spacing:-.05pt'>Tổng quản lý duyệt</span></i></b></p>
  </td>
  <td width=352 valign=top style='width:264.25pt;padding:0in 5.4pt 0in 5.4pt;
  height:45.35pt'>
  <p class=MsoNormal align=center style='margin-right:9.7pt;text-align:center'><b><i><span
  style='font-size:14.0pt;letter-spacing:-.05pt'>Trưởng bộ phận</span></i></b></p>
  </td>
 </tr>
 <tr style='height:32.7pt'>
  <td width=352 valign=top style='width:264.25pt;padding:0in 5.4pt 0in 5.4pt;
  height:32.7pt'>
  <p class=MsoNormal align=center style='margin-right:9.7pt;text-align:center'><span
  style='font-size:14.0pt;letter-spacing:-.05pt'>&nbsp;</span></p>
  </td>
  <td width=352 valign=top style='width:264.25pt;padding:0in 5.4pt 0in 5.4pt;
  height:32.7pt'>
  <p class=MsoNormal align=center style='margin-right:9.7pt;text-align:center'><span
  style='font-size:14.0pt;letter-spacing:-.05pt'>&nbsp;</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='margin-right:65.5pt;text-align:justify'><b><span
style='font-size:14.0pt;letter-spacing:-.05pt'>&nbsp;</span></b></p>

<p class=MsoNormal style='margin-right:65.5pt;text-align:justify'><b><span
style='font-size:14.0pt;letter-spacing:-.05pt'>------------------Phần dành cho
nhân viên kỹ thuật------------------</span></b></p>

<p class=MsoNormal style='margin-top:.15pt;line-height:7.0pt'><span
style='font-size:14.0pt;letter-spacing:-.05pt'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:2.5pt;margin-bottom:0in;
margin-left:13.5pt;margin-bottom:.0001pt;text-align:justify'><i><span
style='font-size:14.0pt;letter-spacing:-.05pt'>Mô tả chi tiết công việc đã thực
hiện:</span></i></p>

<p class=MsoNormal style='margin-top:0in;margin-right:9.7pt;margin-bottom:0in;
margin-left:4.5pt;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:1.65pt;margin-right:.15in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>.......................................................................................................................................... </span></p>

<p class=MsoNormal style='margin-top:1.65pt;margin-right:.15in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>.......................................................................................................................................... </span></p>

<p class=MsoNormal style='margin-top:1.65pt;margin-right:.15in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>.......................................................................................................................................... </span></p>

<p class=MsoNormal style='margin-top:1.65pt;margin-right:.15in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>.......................................................................................................................................... </span></p>

<p class=MsoNormal style='margin-top:1.65pt;margin-right:.15in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>.......................................................................................................................................... </span></p>

<p class=MsoNormal style='margin-top:1.65pt;margin-right:.15in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>.......................................................................................................................................... </span></p>

<p class=MsoNormal style='margin-top:1.65pt;margin-right:.15in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>.......................................................................................................................................... </span></p>

<p class=MsoNormal style='margin-top:1.65pt;margin-right:.15in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>.......................................................................................................................................... </span></p>

<p class=MsoNormal style='margin-top:1.65pt;margin-right:.15in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>.......................................................................................................................................... </span></p>

<p class=MsoNormal style='margin-top:1.65pt;margin-right:.15in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>.......................................................................................................................................... </span></p>

<p class=MsoNormal style='margin-top:1.65pt;margin-right:.15in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>.......................................................................................................................................... </span></p>

<p class=MsoNormal style='margin-top:1.65pt;margin-right:.15in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>.......................................................................................................................................... </span></p>

<p class=MsoNormal style='margin-top:1.65pt;margin-right:.15in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>.......................................................................................................................................... </span></p>

<p class=MsoNormal style='margin-top:1.65pt;margin-right:.15in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>.......................................................................................................................................... </span></p>

<p class=MsoNormal style='margin-top:1.65pt;margin-right:.15in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt'><span style='font-size:14.0pt;
letter-spacing:-.05pt'>.......................................................................................................................................... </span></p>

</div>

</body>

</html>
